<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Truculenta:wght@100&display=swap" rel="stylesheet">
  <title>Paranormal Tourism</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/" class="site-name">Paranormal Tourism</a>
      </h1>
      <nav class="in-out">
        <a href="/login">Login</a>
        <button id="logout" class="btn-no-style">logout</button>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

</body>
<script src="/js/logout.js"></script>

</html>