<section>

    <H1 class="attractions">All Attractions</H1>

    {{!-- not working yet --}}
    <div id="map" style="height: 500px"></div>

    {{!-- Pull attractions --}}
    <ul class="attraction-list">
        {{#each attractions as |attraction|}}
        <li>
            <article class="attraction">
                <div class="title">
                    <a href="/attractions/{{id}}" class="locations">{{name}}</a>
                </div>
                <div>
                    <p id="attraction-lat">{{lat}}</p>
                    <p id="attraction-lng">{{lng}}</p>
                </div>

            </article>
        </li>
        {{/each}}
    </ul>
    </div>

</section>

<script src="/js/search-attractions.js"></script>
<script src="/js/map-init.js"></script>