<section class="create">
  <h1>CREATE AN ACCOUNT</h1>
  <!-- sign up form -->
  <form class="signup-form container">
    <div>
      <label for="username-signup" class="username">username:</label>
      <input type="text" id="username-signup" />
    </div>
    <div>
      <label for="email-signup" class="email">email:</label>
      <input type="text" id="email-signup" />
    </div>
    <div>
      <label for="password-signup" class="password">password:</label>
      <input type="password" id="password-signup" />
    </div>
    <div>
      <button type="submit">signup</button>
    </div>
  </form>
</section>

<h4 class="login">Or <a href="/login">Login</a></h4>

<script src="/js/createAccount.js"></script>