<section>
    <H1>CREATE AN ACCOUNT</H1>
    <!-- sign up form -->
<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>
</section>

<h4>Or <a href="/login">Login</a></h4>

<script src="/javascript/login.js"></script>