<section>
    <H1>Find your next adventure!</H1>
    <h2>What are you looking to do?</h2>
    {{!-- <ul>
        {{#each category as |category|}}
        <li>
            <p>
                {{category.id}}
            </p>
            <p>
                {{category.name}}
            </p>
        </li>
        {{/each}}
    </ul> --}}
</section>