<section>
    <h1 id="adventure" class="hero-title">The Paranormal Tourism Database
    </h1>
    <h2>Looking for a goth vacation? Trying to find your will to be weird?</br>
        Whether you're hunting ghosts, hoping to be abducted, or wishing for a glimpse of Bigfoot,
        </br>let us be your resource for all things creepy across the United States.</h2>
    <h2>What kind of paranormal adventure do you seek?</h2>

    <form class="search-attraction-form container">
        <div class="attraction-category">
            <label for="attraction-category" class="category">Category:</label>
            <select name="attraction-category" id="attraction-category">
                <option value=" "> </option>
                <option value=1>Aliens</option>
                <option value=2>Cryptids</option>
                <option value=3>Hauntings</option>
                <option value=4>Witches</option>
            </select>
        </div>
        <div class="attraction-type">
            <label for="attraction-type" class="type">Type:</label>
            <select name="attraction-type" id="attraction-type">
                <option value=" "> </option>
                <option value=1>Museum</option>
                <option value=2>Cemetary</option>
                <option value=3>Historical Site</option>
                <option value=4>Sighting Location</option>
                <option value=5>Asylum</option>
                <option value=6>Prison</option>
                <option value=7>Walking Tour</option>
            </select>
        </div>
        <div>
            <label for="attraction-location" class="near">Near</label>
            <input type="text" id="attraction-location" name="attraction-location" placeholder="Enter a location..." />

        </div>
        <button type="submit" class="btn">Search</button>
        </div>
    </form>

    {{!-- not working yet --}}
    <div id="map"></div>

    <h2>Not sure what to search for? Check out one of these attractions:</h2>

    {{!-- Pull attractions --}}
    <ul class="attraction-list">
        {{#each attractions as |attraction|}}
        <li>
            <article class="attraction">

                <span class="vertical-line"> </span>
                <div id="title">
                    <a href="/attractions/{{id}}" class="sp-place">{{name}}</a>
                </div>
            </article>
        </li>
        {{/each}}
    </ul>

</section>

{{!-- Basic map funcationality, will add more later --}}
<script src="/js/map-init.js"></script>

{{!-- Search not working yet --}}
<script src="/js/search-attractions.js"></script>