<!-- login form -->
<h1 class="logging-in">LOGIN</h1>
<form class="login-form container">
  <div>
    <label for="email-login" class="lgin-email">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login" class="lgin-password">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" class="lgin-btn">login</button>
  </div>
</form>

<h4 class="sp-place new-accnt">Or <a href="/account/create" class="crte-accnt">Create Account</a></h4>


<script src="/js/login.js"></script>