<article class="attraction">
    <div>
        <h1>{{attraction.name}}</h1>
    </div>
    <div>
        {{attraction.category.name}}
    </div>
    <div>
        {{#each attraction.attraction_types}}
        
            {{name}}
        
        {{/each}}
    </div>        
    <div>
        {{attraction.description}}
    </div>

</article> 
