* {
  background-color: darkgrey;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: black;
}
.adventure {
  font-family: "Arial", "Trebuchet MS", sans-serif;
  font-weight: 500;
  color: white;
  text-decoration: none;
  font-size: 2rem;
}
.site-name {
  color: white;
  font-family: "Nanum Brush Script";
}
.in-out {
  text-align: right;
  margin: 0;
  padding: 10px;
}
nav .in-out {
  background-color: #212121 grey darken-4;
}
footer {
  background-color: black;
  text-align: center;
  color: white;
  margin: 20px;
  padding: 10px;
}
