*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #a58d80;
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  background: #0f1418;
}
h1 {
  padding-top: 0;
}
h2 {
  font-family: "Truculenta", "Arial", "Trebuchet MS", sans-serif;
  padding: 0;
  margin: 10px;
  text-align: center;
}
a {
  color: white;
  text-decoration: none;
  border-right: 4px solid #0f1418;
  border-left: 4px solid #0f1418;
  margin-left: 12px;
}
.container {
  border-radius: 5px;
  background-color: #451521;
  padding: 10px;
}

/* -- MAIN PAGE START -- */
.category,
.type,
.near {
  margin-left: 33.5rem;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  font-family: "Truculenta", "Arial", "Trebuchet MS", sans-serif;
}
.wrapper {
  position: relative;
  padding-bottom: 40px;
}
div#title {
  font-family: "Truculenta", "Arial", "Trebuchet MS", sans-serif;
}

.attraction-list li {
  display: inline-block;
  margin: 40px;
  font-size: 20px;
}
.sp-place:hover {
  color: #0f1418;
}
.login {
  font-size: 25px;
}
.attr-opt {
  text-align: center;
}
#adventure {
  font-family: "Nanum Brush Script", "Arial", "Trebuchet MS", sans-serif;
  font-weight: 500;
  color: white;
  text-decoration: none;
  font-size: 40px;
  text-align: center;
}
.in-out {
  text-align: right;
  margin: 0;
  padding: 20px;
  font-family: "Nanum Brush Script", "Arial", "Trebuchet MS", sans-serif;
  font-size: 20px;
}
.btn-no-style {
  color: #0f1418;
}
nav.in-out {
  background: #0f1418;
  padding: 30px;
}
.site-name {
  color: white;
  font-family: "Nanum Brush Script", "Arial", "Trebuchet MS", sans-serif;
  text-align: left;
  font-size: 30px;
  padding: 10px;
}
label.category,
label.type,
label.near {
  font-family: "Truculenta", "Arial", "Trebuchet MS", sans-serif;
}

button.btn /*main page search btn*/ {
  background-color: #0f1418;
  color: white;
  font-size: 15px;
  margin-left: 37rem;
  margin-top: 7px;
}
/* -- MAIN PAGE END -- */

/* -- LOGIN PAGE START -- */
.logging-in {
  text-align: center;
  font-family: "Truculenta", "Arial", "Trebuchet MS", sans-serif;
}
.lgin-email,
.lgin-password {
  margin-left: 34rem;
  font-family: "Truculenta", "Arial", "Trebuchet MS", sans-serif;
  color: white;
  font-weight: bolder;
}
.lgin-btn {
  margin-left: 45.8em;
}
input#email-login,
input#password-login {
  margin-bottom: 7px;
}
h4,
.new-accnt {
  font-family: "Truculenta", "Arial", "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 20px;
}
.crte-accnt:hover {
  color: #192928;
}
/* -- LOGIN PAGE END -- */

/* -- CREATE ACCOUNT PAGE START -- */
.create {
  font-family: "Truculenta", "Arial", "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 1em;
}
.create:hover {
  color: #192928;
}
.username,
.email,
.password {
  margin-right: 5px;
  color: white;
  font-weight: bolder;
}

.sgnup-btn {
  margin-top: 5px;
}
input#username-signup,
input#email-signup,
input#password-signup {
  margin-bottom: 7px;
}
.go-in:hover {
  color: #192928;
}
/* -- CREATE ACCOUNT PAGE START END-- */

/* -- ATTRACTIONS PAGE START -- */
.attractions {
  font-family: "Truculenta", "Arial", "Trebuchet MS", sans-serif;
  text-align: center;
}
.locations:hover {
  color: #192928;
}
/* -- ATTRACTIONS PAGE END -- */

/* -- SINGLE ATTRACTIONS PAGE START */
.attraction {
  font-family: "Truculenta", "Arial", "Trebuchet MS", sans-serif;
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
}
li::marker {
  color: #a58d80;
}
.add-cmnt {
  background-color: #0f1418;
  color: white;
},
img {
  height: 200px;
  width: 200px;
},
/* -- SINGLE ATTRACTIONS PAGE END */

footer {
  background-color: #0f1418;
  text-align: center;
  color: white;
  position: fixed;
  width: 100%;
  height: 40px;
  bottom: 0;
  font-size: 2rem;
  font-family: "Nanum Brush Script", "Arial", "Trebuchet MS", sans-serif;
}

/* ---- MEDIA QUERIES ---- */

@media screen and (min-width: 320px) and (max-width: 500px) {
  .container {
    margin-right: 0;
    margin-left: 0;
  }
  .category,
  .type,
  .near {
    text-align: center;
    margin-left: 4rem;
  }
  button.btn {
    justify-content: center;
    margin-left: 8rem;
  }
  .lgin-email,
  .lgin-password {
    margin-left: 3rem;
    font-family: "Truculenta", "Arial", "Trebuchet MS", sans-serif;
    color: white;
  }
  .lgin-btn {
    margin-left: 9rem;
  }
  .site-name {
    display: block;
  }
  .sp-place:hover {
    color: #0f1418;
    display: block;
  }
  ul.attraction-list {
    display: inline-block;
    margin: 20px 40px 0 5px;
    font-size: 20px;
  }
}

@media screen and (min-width: 623px) and (max-width: 909px) {
  .category,
  .type,
  .near {
    color: white;
    margin-left: 22rem;
  }
  button.btn {
    background-color: #0f1418;
    color: white;
    font-size: 15px;
    margin-left: 26rem;
  },
  
  .lgin-email,
  .lgin-password {
    margin-left: 22rem;
    font-family: "Truculenta", "Arial", "Trebuchet MS", sans-serif;
    color: white;
    font-weight: bolder;
  }
  .lgin-btn {
    margin-left: 27rem;
  }
  
}
@media screen and (min-width: 1000px) and (max-width: 1100px) {
  .category,
  .type,
  .near {
    color: white;
    margin-left: 25rem;
  }
  button.btn {
    background-color: #0f1418;
    color: white;
    font-size: 15px;
    margin-left: 30rem;
  }
  .lgin-email,
  .lgin-password {
    margin-left: 25rem;
    font-family: "Truculenta", "Arial", "Trebuchet MS", sans-serif;
    color: white;
  }
  .lgin-btn {
    margin-left: 30.5rem;
  }
}
